EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_your_clerk_publishable_key_here
POSTHOG_PROJECT_TOKEN=phc_your_project_token_here
POSTHOG_HOST=https://eu.i.posthog.com

STREAM_API_KEY=your_stream_api_key
STREAM_API_SECRET=your_stream_api_secret
EXPO_PUBLIC_STREAM_API_KEY=your_stream_api_key
